[Unit]
Description=Apache Zookeeper server
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
ExecStart=/home/ubuntu/kafka_2.13-3.5.1/bin/zookeeper-server-start.sh /home/ubuntu/kafka_2.13-3.5.1/config/zookeeper.properties
ExecStop=/home/ubuntu/kafka_2.13-3.5.1/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target